* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Lato", sans-serif;
  position: fixed;
  top: 0;
  height: 100px;
  border-bottom: solid rgb(186, 186, 186) 2px;
  width: 100%;
  background-color: white;
  z-index: 7;
  box-shadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.24);
}

.header a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}

main {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

select {
  border-radius: 5px;
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-heading {
  font-family: "Love Ya Like A Sister", cursive;
  align-items: center;
  font-size: 30px;
  color: #4e804e;
}

#cartBtn {
  position: absolute;
  right: 30px;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

#cartBtn:hover {
  background-color: #c0d8c0;
}

.cartBtn img {
  display: inline;
  color: #c0d8c0;
}

.total-price {
  text-align: center;
}

.cart-dropdown {
  position: fixed;
  min-height: 300px;
  width: 220px;
  background-color: #ffffff;
  right: 10px;
  display: none;
  border: solid rgb(186, 186, 186) 2px;
}

.cart-dropdown.active {
  display: flex;
  flex-direction: column;
}

.cart-dropdown ul {
  list-style: none;
}
.cart-dropdown li {
  font-size: 14px;
  padding-bottom: 3px;
}

i {
  font-size: 25px;
}

.empty-cart-btn {
  align-self: center;
  position: sticky;
  top: 350px;
  right: 80px;
  background-color: red;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  margin: 30px;
  background: transparent;
  color: red;
  border: solid red 1px;
  cursor: pointer;
}

.empty-cart-btn:hover {
  border: solid red 2px;
}

.filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-button {
  margin-right: 0px;
  padding: 5px;
  border: 0;
  background-color: white;
  width: 100px;
  font-size: 14px;
  color: rgb(78, 128, 78);
  font-weight: 600;
}

.reset-button:hover {
  background-color: #c0d8c0;
  border-radius: 7px;
  width: 100px;
}

.pris:hover {
  color: #c0d8c0;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  border: solid 2px rgb(186, 186, 186);
  position: sticky;
  top: 125px;
  margin: 5px;
  width: 250px;
  height: 500px;
  padding: 30px;
  margin-bottom: 55px;
}

.filter-header {
  display: flex;
  align-items: center;
  display: inline;
  font-size: 22px;
}
.rensa-filter {
  font-weight: 700;
  display: inline;
}

.menuItem {
  display: flex;
  border-radius: 5px;
  border: solid rgb(186, 186, 186) 2px;
  margin: 5px;
  height: 200px;
  max-width: 500px;
  z-index: 1;
}

.categoryFilters label {
  margin-bottom: 20px;
}

.categoryFilters input {
  margin-bottom: 6px;
}

input[type="checkbox"] {
  accent-color: #4e804e;
}

label:hover {
  color: #4e804e;
  font-weight: 700;
}

.checkbox:checked + label {
  color: #4e804e;
  font-weight: 700;
}

.categoryFilters h2 {
  margin-bottom: 10px;
}

.allergyFilters h2 {
  padding-bottom: 5px;
}

.menuItems {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  width: 1540px;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.menuItems2 {
  min-height: 600px;
}

.menuItem-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.menuItem-text p {
  font-size: 14px;
}

.item-img img {
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item-img {
  height: 198px;
  width: 200px;
  border-radius: 5px;
}

.pris {
  font-weight: 900;
}

.footer {
  position: relative;
  vertical-align: baseline;
  height: 300px;
  background-color: white;
  border-top: solid gray 1px;
}

.desktop {
  display: none;
}

.toggle-button {
  position: absolute;
  top: 35px;
  left: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
}

/* .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
} */

.hidden {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-footer img {
  height: 100px;
  width: 100px;
  align-items: center;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.footer div {
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.footer ul li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1950px) {
  .menuItems {
    width: 1040px;
    max-width: none;
  }
}

@media (max-width: 1350px) {
  .menuItems {
    flex-direction: column;
    width: 540px;
    max-width: none;
  }

  #cartBtn {
    position: relative;
  }
}

@media (max-width: 800px) {
  input[type="checkbox"] {
    display: none;
  }

  label {
    font-size: 20px;
  }

  .menuItems {
    flex-direction: column;
    width: auto;
  }

  .container {
    flex-direction: column;
  }

  .filters {
    width: auto;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    position: fixed;
    top: 98px;
    z-index: 5;
    background-color: white;
    display: none;
    margin: 0px;
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-left: solid white 1px;
    border-right: solid rgb(186, 186, 186) 2px;
    border-bottom: solid rgb(186, 186, 186) 2px;
    padding-top: 0px;
  }

  .cart-dropdown {
    position: fixed;
    min-height: 300px;
    width: 100%;
    background-color: #ffffff;
    right: 0px;
    display: none;
    border: solid rgb(186, 186, 186) 2px;
  }

  .menuItem {
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
    height: 400px;
    max-width: 800px;
    min-width: 320px;
  }

  .menuItem-text {
    height: 200px;
  }

  .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .item-img {
    width: auto;
    align-self: normal;
    height: 200px;
    border-radius: 5px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .header-heading {
    display: none;
  }

  .menuItems2 {
    display: none;
  }

  .menuItem-text p {
    font-size: 14px;
  }

  .menuItem-text {
    font-size: 22px;
  }

  .toggle-button {
    display: flex;
  }

  .filters.active {
    display: flex;
  }
  .desktop {
    display: flex;
    flex-direction: column;
  }

  .sorting {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #cartBtn {
    position: fixed;
  }

  select {
    width: 130px;
  }
}
