* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  top: 0;
  height: 100px;
  border-bottom: solid rgb(186, 186, 186) 2px;
  width: 100%;
  background-color: white;
  z-index: 7;
  box-shadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.24);
}

.header a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}

main {
  min-height: 100vh;
}

select {
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  padding-left: 40px;
}

.header-heading {
  font-family: "Love Ya Like A Sister", cursive;
  align-items: center;
  font-size: 30px;
  color: #4e804e;
}

#cartBtn {
  /* position: absolute; */
  right: 30px;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 40px;
}

#cartBtn:hover {
  background-color: #c0d8c0;
}

.cartBtn img {
  display: inline;
}

.total-items {
  padding-left: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.cart-dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 180px;
  max-height: calc(100vh - 150px);
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  right: 10px;
  display: none;
  border: solid rgb(186, 186, 186) 2px;
  box-shadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.24);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart-dropdown::-webkit-scrollbar {
  display: none;
}

.cart-dropdown.active {
  display: flex;
  flex-direction: column;
}

.cart-dropdown ul {
  list-style: none;
}
.cart-dropdown li {
  font-size: 14px;
  padding-bottom: 3px;
}

.cart-header {
  padding: 10px 10px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.cart-header i {
  color: red;
  font-weight: normal;
}

.cart-pris {
  font-weight: 700;
}

.cart-total {
  /* font-size: 20px; */
  font-weight: 900;
}

/* .empty-cart-btn-container {
  display: flex;
  justify-content: center;
} */

#cartList p {
  padding-bottom: 5px;
}

/* .cart-item-div {
  border-bottom: solid rgb(186, 186, 186) 1px;
} */

/* #cartList > div {
  justify-content: space-between;
  border-bottom: solid rgb(186, 186, 186) 1px;
} */

/* #cartList > div:last-child {
  border: none;
  font-size: 2rem;
} */

.cart-item-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  border-bottom: solid rgb(186, 186, 186) 1px;
}

#cartList > div:last-child {
  border: none;
  font-size: 1.5rem;
  padding-top: 15px;
}

i {
  font-size: 25px;
}

.fa-circle-half-stroke {
  font-size: 15px;
  padding-left: 10px;
}

.empty-cart-btn {
  /* align-self: center;
  position: sticky;
  top: 350px;
  right: 80px;
  background-color: red;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: 30px;
  background: transparent;
  color: red;
  border: solid red 1px; */
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.empty-cart-btn:hover {
  /* border: solid red 2px; */
  background: lightpink;
}

.filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-button {
  margin-right: 0px;
  padding: 5px;
  border: 0;
  background-color: white;
  width: 100px;
  font-size: 14px;
  color: rgb(78, 128, 78);
  font-weight: 600;
}

.reset-button:hover {
  background-color: #c0d8c0;
  border-radius: 7px;
  width: 100px;
}

.pris:hover {
  color: #c0d8c0;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}
.filters {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
  border: solid 2px rgb(186, 186, 186);
  position: sticky;
  top: 125px;
  margin: 15px;
  width: 250px;
  height: 500px;
  padding: 20px;
  margin-bottom: 55px;
}

.filter-header {
  display: flex;
  align-items: center;
  display: inline;
  font-size: 22px;
}
.rensa-filter {
  font-weight: 700;
  display: inline;
}

.menuItem {
  display: flex;
  border-radius: 15px;
  border: solid rgb(186, 186, 186) 2px;
  margin: 5px;
  height: 200px;
  max-width: 500px;
  z-index: 1;
}

.priceAndBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryFilters label {
  margin-bottom: 20px;
}

.categoryFilters input {
  margin-bottom: 6px;
}

input[type="checkbox"] {
  accent-color: #4e804e;

  line-height: normal;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

label:hover {
  color: #4e804e;
  font-weight: 700;
}

.checkbox:checked + label {
  color: #4e804e;
  font-weight: 700;
}

.categoryFilters h2 {
  margin-bottom: 10px;
}

.allergyFilters h2 {
  padding-bottom: 5px;
}

.sort-price {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.language {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menuItems {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 1540px;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.menuItems2 {
  min-height: 600px;
}

.menuItem-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.menuItem-text p {
  font-size: 14px;
}

.item-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-left: 1px solid lightgrey;
}
/* 
.item-img {
  height: 199px;
  width: 200px;
  border-radius: 15px;
} */

.footer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: solid 2px rgb(186, 186, 186);
}

.footer img {
  height: 100px;
}

.desktop {
  display: none;
}

.toggle-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40px;
  display: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 45px;
}

.toggle-button:hover {
  background-color: #c0d8c0;
}

.hidden {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-footer img {
  height: 100px;
  width: 100px;
  align-items: center;
}

/* .footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} */

a {
  text-decoration: none;
  color: black;
}

/* .footer div {
  height: 200px;
  display: flex;
  justify-content: space-between;
} */
/* 
.footer ul li {
  display: flex;
  justify-content: space-between;
} */

.contact-info {
  display: flex;
  flex-direction: column;
}

.changeLanguage {
  font-size: 20px;
}

.buyBTN {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4e804e;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.buyBTN:hover {
  background-color: #545150;
}

#sortBy {
  font-size: 20px;
}

.total-price {
  font-weight: bold;
}

.langlogos {
  position: absolute;
  right: 15%;
  top: 34px;
}

@media (max-width: 1950px) {
  .menuItems {
    width: 1040px;
    max-width: none;
    justify-content: flex-start;
  }
}

@media (max-width: 1350px) {
  .menuItems {
    flex-direction: column;
    width: 540px;
    max-width: none;
  }
}

@media (max-width: 800px) {
  input[type="checkbox"] {
    display: none;
  }

  label {
    font-size: 20px;
  }

  .header {
    justify-content: center;
  }

  .logo-header {
    padding-left: 0px;
  }

  .menuItems {
    flex-direction: column;
    gap: 15px;
    width: auto;
  }

  .container {
    flex-direction: column;
  }

  .filters {
    width: auto;
    width: 100%;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    margin-bottom: 5px;
    position: fixed;
    top: 98px;
    z-index: 5;
    background-color: white;
    display: none;
    margin: 0px;
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-left: solid white 1px;
    border-right: solid rgb(186, 186, 186) 2px;
    border-bottom: solid rgb(186, 186, 186) 2px;
    padding-top: 0px;
  }

  .cart-dropdown {
    width: 100%;
    right: 0px;
  }

  .menuItem {
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
    height: 400px;
    /* max-width: 800px;
    min-width: 320px; */
    width: 90%;
    margin-inline: auto;
  }

  .menuItem-text {
    height: 200px;
  }

  .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid lightgray;
    border-left: none;
  }

  .item-img {
    width: auto;
    align-self: normal;
    height: 200px;
  }

  .header-heading {
    display: none;
  }

  .menuItems2 {
    display: none;
  }

  .menuItem-text {
    font-size: 1.5rem;
  }

  /* .menuItem-text p {
    font-size: 14px;
  }

  .menuItem-text h3 {
    font-size: 1rem;
  } */

  .buyBTN {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .toggle-button {
    display: flex;
    left: 30px;
  }

  .filters.active {
    display: flex;
  }
  .desktop {
    display: flex;
    flex-direction: column;
  }

  .sorting {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #cartBtn {
    position: fixed;
    margin-right: 0;
  }

  select {
    width: 220px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
}
